# Supabase — obtén estos valores desde https://supabase.com/dashboard/project/_/settings/api
VITE_SUPABASE_URL=https://gbqcnwcjdkzowjenowgx.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_ZGxGgmLOT4f39zoZyxw0sw_KJwwKUXl
